<!doctype html>
<!--<link href="/custom.css" rel="stylesheet " type="text/css ">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">
        {{Title}}
    </h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="row">
                    <span class="col-sm-12 col-xs-12 txt-gray" style="margin-top: 15px;margin-bottom: 1px;">
                        Tên cú pháp
                        <span style="color: red">*</span>
                    </span>
                    <div class="col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <input ng-model="syntax.Name" type="text" class="form-control input-sm"/>
                    </div>
                </div>
                <div class="row">
                    <span class="col-sm-12 col-xs-12 txt-gray" style="margin-top: 15px;margin-bottom: 1px;">
                        Cú pháp chuẩn
                    </span>
                    <div class="col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <div id="ms-ca-action-type"></div>
                    </div>
                </div>
                <div class="row">
                    <span class="col-sm-12 col-xs-12 txt-gray" style="margin-top: 15px;margin-bottom: 1px;">
                        Mô tả
                    </span>
                    <div class="col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <textarea style="width: inherit" ng-model="syntax.Description" class="form-control input-sm"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="save()" style="width: 120px;">
        <i class="fa fa-floppy-o" style="color: dodgerblue"></i>
        Lưu lại
    </button>

</div>