<div class="body-content" ng-controller="CalculatorController">
    <div class="content-ti">
        <form>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <span class="caption-subject">Tính toán kết quả</span>
                </div>
                <div class="col-sm-12">
                    <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="col-sm-4 col-xs-12">
                        <span>Chọn ngày tháng:</span>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input style="height: 30px !important;" class="form-control txtDateTime" type="text" ng-model="pubDate" required>
                    </div>

                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="col-sm-4 col-xs-12">
                        Khách hàng
                    </div>
                    <div class="col-sm-8 col-xs-12 no-padding">
                        <div id="ms-ca-player"></div>
                    </div>
                </div>
            </div>
            <div class="row mg-top-10">
                <div class="col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="table-scrollable thin">
                            <table class="table table-advance table-bordered">
                                <thead>
                                <tr>
                                    <th>Tỉ lệ</th>
                                    <th style="max-width: 20px;" ng-repeat="item in cashOutByPlayerId">{{item.Name}} ({{item.Code}})</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Vào/Ra <i class="fa fa-arrow-down font-green-jungle" aria-hidden="true"></i><i class="fa fa-arrow-up font-red" aria-hidden="true"></i></td>
                                    <td ng-repeat="item in cashOutByPlayerId">
                                        <label class="font-green-jungle">{{item.InCoin}}</label> / <label class="font-red">{{item.OutCoin}}</label>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <!--<div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-toolbar=""></div>-->
                    <text-angular name="htmlcontent" ng-model="htmlcontent"></text-angular>
                </div>
                <div class="col-sm-12 col-xs-12 mg-top-10">
                    <button class="btn btn-sm btn-action-create" type="submit" ng-click="process()">
                        <span>Tính toán</span>
                        <i class="icon-action-redo"></i>
                    </button>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <span class="caption-subject">Kết quả vừa tính</span>
                </div>
                <div class="col-sm-12">
                    <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
                </div>
                <div class="col-sm-12 col-xs-12">
                    <!--<div style="border: 1px solid blue;margin: 10px;padding: 10px;" ng-repeat="item in kqDetailTmp track by $index">-->
                    <div style="margin: 10px;padding: 10px;" ng-repeat="item in kqDetailTmp track by $index">
                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                <span>{{item.action_type_name}}:</span>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <span ng-repeat="h in item.highlight track by $index" ng-style="{'color':h.highlight ? 'red':'black'}">
                                    {{h.so_danh}}
                                </span>
                                <!--<span>x{{item.value}}</span>-->
                                <span> :{{item.allValue}}</span>
                                <span style="color: red">({{item.bingo}})</span>
                                <span> = {{item.sum}}</span>
                            </div>

                        </div>
                    </div>
                    <hr style="border-top: 1px solid #8c8b8b;">
                    <div class="col-sm-12 col-xs-12" ng-show="kqcc_view">
                        <div class="col-lg-offset-8 col-sm-offset-8 col-xs-offset-8">
                                <span style="font-weight: bold;font-size: xx-large;color: red">
                                    = {{kqcc_view}}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <span class="caption-subject">Kết quả</span>
                </div>
                <div class="col-sm-12">
                    <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="table-scrollable thin">
                            <table class="table table-advance">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Khách hàng</th>
                                    <th>Kết quả</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in kqListItem">
                                    <td>{{$index}}</td>
                                    <td>{{item.player.Name}}</td>
                                    <td>{{item.kqcc}}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
