<script src="../../js/controller/HomeController.js"></script>
<script>
    $(function() {
        $("#searchDate-12").datepicker();
    });
</script>
<div class="body-content" ng-controller="HomeController">
    <div class="content-ti">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <span class="caption-subject">Trang chủ</span>
            </div>
            <div class="col-sm-12">
                <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-2">
                    <span>Chọn ngày tháng:</span>
                </div>
                <div class="col-sm-4">
                    <input style="height: 30px !important;" id="searchDate" class="form-control txtDateTime" type="text">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-default"
                            type="button" ng-click="search()">
                        <i class="fa fa-search font-green-jungle"></i>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mg-top-20">
            <div class="col-sm-8 col-xs-12">
                <div class="table-responsive">
                    <div class="table-scrollable thin">
                        <table class="table table-advance table-bordered td-center">
                            <thead>
                            <tr>
                                <th colspan="7" style="text-align: center;">{{data.Title}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in data.Description">
                                <td>{{row.key}}</td>
                                <td ng-repeat="num in row.value" colspan="{{row.colspan}}"><span>{{num}}</span></td>
                            </tr>
                            <!--<tr>-->
                                <!--<td>Giải đặc biệt</td>-->
                                <!--<td colspan="6"><span style="color: red;"><b>34037</b></span></td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
