<div class="body-content" ng-controller="SyntaxListController">
    <div class="content-ti">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <span class="caption-subject">Quản lý khách hàng</span>
            </div>
            <div class="col-sm-12">
                <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">

            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
